/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/11/2019, 21:36:50
    Author     : lucas.mnpaiva
*/

footer{
    font-family: sans-serif;
    color:#fff;
    font-size: 14px;
    width: 100%;
    height: 3rem; 
    bottom: 0;
}
#divFooter{
    top :15px;
    display: flex;
}
div.relative {

    flex: 0 0 65%;
}
div.location{

    text-align: right;

    padding-right: 10px;
    flex: 1;
}